<header class="main-header">
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>
  
  <div class="header__text">
    <a>GRATIS LEVERING OVER 399.KR * LEVERING 3-5 ARBEJDSDAGE</a>
  </div>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

<header class="secondary-header" id="header_menu">
  <a>Jonas</a>
</header>

<header class="information-header">
  <a id="rabat">40% PÅ TALLERKNER, OPHÆNG OG ANDRE PRODUKTER *</a>
  <a>*GÆLDENDE VED KØB FOR MINDST 299 KR.</a>
</header>

{% stylesheet %}
  .main-header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D3CBA3;
  }
  
  .secondary-header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: SteelBlue;
  padding: 0 1rem;
  }

  .information-header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #CCB658
  }
  
  .main-header a,
  .secondary-header a {
  position: relative;
  text-decoration: none;
  color: white;
  }
  
  header a sup {
  position: absolute;
  left: 100%;
  overflow: hidden;
  max-width: var(--page-margin);
  }
  
  header svg {
  width: 2rem;
  }
  
  .header__menu,
  .header__icons {
  display: flex;
  gap: 1rem;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
